version: '2'
services:

  ergatis:
    environment:
      - DOCKER_HOST=###IP_HOST###
    #image: adkinsrs/lgtseek:1.4
    image: adkinsrs/lgtseek:latest
    links:
      - mongo
    mem_limit: 5120000000
    ports:
      - "8080:80"
    volumes:
      - ###BLAST_DB_DIR###:/mnt/blast:ro
      - ###INPUT_DATA###:/mnt/input_data/input_source
      - ###OUTPUT_DATA###:/mnt/output_data
      - ###DONOR_MNT###:/mnt/input_data/donor_ref
      - ###RECIPIENT_MNT###:/mnt/input_data/recipient_ref
      - ###ACC_MNT###:/mnt/input_data/acc_list
    volumes_from:
      - mongodata
