version: '3'

networks:
  ergatis:
  rabbitmq:

volumes:
  bdbag_out_vol:
  projects_vol:
  scratch_vol:

services:

# Container that stores ergatis repo root data.
# Stopping other contaners will not cause loss in pipeline data, meaning pipelines can be resumed later
  data:
    image: adkinsrs/ergatis-data
    tty: true
    volumes:
      - projects_vol:/opt/projects/repository
      - scratch_vol:/usr/local/scratch
      - ###INPUT_SOURCE###:/mnt/input_data

# Container responsible for running the pipeline

  ergatis:
    command: ["-D", "FOREGROUND"]
    environment:
      - REPO_ROOT=/opt/projects/repository
      - TEMPLATES=/opt/ergatis/pipeline_templates/
    entrypoint:
      - apache2
    expose:
      - "22"
    image: adkinsrs/rnaseq:latest
    networks:
      - ergatis
    ports:
      - "8080:80"
    restart: always
    volumes:
      - projects_vol:/opt/projects/repository
      - scratch_vol:/usr/local/scratch
      - ###INPUT_SOURCE###:/mnt/input_data

  bdbag:
    command: ["/opt/wait/wait-for-it.sh", "rabbit:5672", "--", "/usr/bin/perl", "/opt/bdbag_listener.pl"]
    depends_on:
      - rabbit
    environment:
      - AMQP_ADDRESS=rabbit
    image: apaala/bdbag_rabbit:latest
    networks:
      - rabbitmq
    restart: always
    tty: true
    volumes:
      - ./utils:/opt/wait:Z
      - bdbag_out_vol:/tmp
      - projects_vol:/opt/projects/repository

# Container with the pipeline configuration UI 
  grotto:
    depends_on:
      - rabbit
    environment:
      - DOCKER_HOST=###IP_HOST###
      - AMQP_ADDRESS=rabbit
      - PERL5LIB=/opt/ergatis/lib/perl5
    image: adkinsrs/grotto:latest
    networks:
      - ergatis
      - rabbitmq
    ports:
      - "5000:5000"
    volumes:
      - projects_vol:/opt/projects/repository
      - scratch_vol:/usr/local/scratch
      - ###INPUT_SOURCE###:/mnt/input_data
      - bdbag_out_vol:/tmp/bdbag/

  rabbit:
    image: rabbitmq:3-alpine
    networks:
      - rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"

  reports:
    command: ["/opt/wait/wait-for-it.sh", "rabbit:5672", "--", "/usr/bin/perl", "/opt/make_report_listener.pl"]
    depends_on:
      - rabbit
    environment:
      - AMQP_ADDRESS=rabbit
    image: apaala/report_rabbit:latest
    networks:
      - rabbitmq
    restart: always
    tty: true
    volumes:
      - ./utils:/opt/wait:Z
      - bdbag_out_vol:/tmp
      - projects_vol:/opt/projects/repository
