version: '3'

networks:
  ergatis:

volumes:
  mongo_data:
  projects_vol:
  scratch_vol:

services:

  data:
    image: adkinsrs/ergatis-data
    tty: true
    volumes:
      - projects_vol:/opt/projects/repository
      - scratch_vol:/usr/local/scratch

  ergatis:
    environment:
      - DOCKER_HOST=###IP_HOST###
    image: adkinsrs/lgtseek:1.8
    networks:
      - ergatis
    ports:
      - 8080:80
    restart: always
    volumes:
      - mongo_data:/data/db
      - projects_vol:/opt/projects/repository
      - scratch_vol:/usr/local/scratch
      - ###BLAST_DB_DIR###:/mnt/blast:ro
      - ###INPUT_DATA###:/mnt/input_data/input_source
      - ###OUTPUT_DATA###:/mnt/output_data
      - ###DONOR_MNT###:/mnt/input_data/donor_ref
      - ###RECIPIENT_MNT###:/mnt/input_data/recipient_ref

  mongo:
    image: mongo:3.0.4
    networks:
      - ergatis
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"
    command: --smallfiles --rest

# Mongodata is necessary for persistent data storage
# MongoDB normally wipes data when shut down
  mongodata:
    image: mongo:3.0.4
    volumes:
      - mongo_data:/data/db
    command: --break-mongo
