version: '2'
services:

# Container responsible for running the pipeline
  ergatis:
    environment:
      - REPO_ROOT=/opt/projects/rnaseq
      - TEMPLATES=/opt/ergatis/pipeline_templates/
    image: adkinsrs/rnaseq:latest
    ports:
      - "8080:80"
    volumes:
      - ergatis_vol:/opt/ergatis
      - projects_vol:/opt/projects/rnaseq
      - perl5lib_vol:/usr/share/perl5
      - perl5lib_vol2:/usr/lib/perl5
      - ###INPUT_SOURCE###:/mnt/input_data
      - ###OUTPUT_SOURCE###:/opt/projects/rnaseq/output_repository:rw

# Container with the pipeline configuration UI 
  builder:
    environment:
      - DOCKER_HOST=###IP_HOST###
      - PERL5LIB=/opt/ergatis/lib/perl5
    image: adkinsrs/grotto
    links:
      - ergatis
    ports:
      - "5000:5000"
    volumes_from:
      - ergatis
#    volumes:
#      - ~/bin/grotto/www:/app

volumes:
  ergatis_vol:
  projects_vol:
  perl5lib_vol:
  perl5lib_vol2:
