version: '3'

networks:
  ergatis:
  ###rabbitmq:###

volumes:
  ###bdbag_out_vol:###
  ergatis_vol:
  projects_vol:
  perl5lib_vol:
  perl5lib_vol2:
  ###reports_out_vol:###
  scratch_vol:
  workflow_vol:

services:

# Container responsible for running the pipeline
  ergatis:
    environment:
      - REPO_ROOT=/opt/projects/rnaseq
      - TEMPLATES=/opt/ergatis/pipeline_templates/
    ###command:###
    entrypoint:
      - sh
      - /opt/scripts/execute_pipeline.sh
      ###- --start-web-server###
      ###- --keep-alive###
    expose:
      - "22"
    image: adkinsrs/rnaseq:latest
    networks:
      - ergatis
    ports:
      - "8080:80"
    volumes:
      - ergatis_vol:/opt/ergatis
      - projects_vol:/opt/projects/rnaseq
      - perl5lib_vol:/usr/share/perl5
      - perl5lib_vol2:/usr/lib/perl5
      - scratch_vol:/usr/local/scratch
      - workflow_vol:/opt/workflow
      - ###INPUT_SOURCE###:/mnt/input_data
      - ###OUTPUT_SOURCE###:/mnt/output_data
