taxdump/20160510_124254_names.dmp filter=lfs diff=lfs merge=lfs -text
taxdump/20160510_124254_nodes.dmp filter=lfs diff=lfs merge=lfs -text
taxdump/names.dmp filter=lfs diff=lfs merge=lfs -text
taxdump/nodes.dmp filter=lfs diff=lfs merge=lfs -text
accession_lists_dir/bacteria.accession.txt filter=lfs diff=lfs merge=lfs -text
accession_lists_dir/metazoa.accession.txt filter=lfs diff=lfs merge=lfs -text
